# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
/bin/
*.lock
*.zip
.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/history.version
*.index
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.core.resources.prefs
*.prefs
.metadata/.plugins/org.eclipse.epp.logging.aeri.ui/history/_0.fdt
*.fdx
*.xml
.metadata/.plugins/org.eclipse.jdt.core/nonChainingJarsCache
*.dat
.metadata/.plugins/org.eclipse.jdt.core/externalFilesCache
*.json
.metadata/.plugins/org.eclipse.epp.logging.aeri.ui/remote-index/_1.nrm
*.frq
*.version
.metadata/.plugins/org.eclipse.core.resources/.root/1.tree
*.gen
.metadata/.plugins/org.eclipse.e4.workbench/workbench.xmi
*.fnm
.metadata/.plugins/org.eclipse.epp.logging.aeri.ui/history/_0.tii
*.tis
.metadata/.plugins/org.eclipse.epp.logging.aeri.ui/remote-index/_1.fdt
*.tii
.metadata/.plugins/org.eclipse.jdt.core/assumedExternalFilesCache
*.fdt
.metadata/.plugins/org.eclipse.epp.logging.aeri.ui/remote-index/segments_2
*.nrm
.metadata/.plugins/org.eclipse.epp.logging.aeri.ui/remote-index/_1.prx
.metadata/.plugins/org.eclipse.epp.logging.aeri.ui/history/segments_1
*.setup
.metadata/version.ini
*.resources
